* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(230, 230, 230);
    height: 100vh;
    font-family: 'Sansita Swashed', cursive;
}

.wrap-game {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.table-game {
    position: relative;
}

div.board {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    width: 495px;
    height: 200px;
}

.table {
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.table div {
    display: flex;
    margin: 0 15px;
    width: 135px;
    height: 200px;
    border: 5px solid rgb(121, 121, 121);
    overflow: hidden;
}

/* .table div.roll-table {
    background-color: crimson;
} */
.result {
    color: black;
}

.table div img {
    object-position: 50% 50%;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
}

/* bid */
.play {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.play label,
input {
    font-size: 18px;
    margin: 5px 0;
}

.play input {
    padding: 5px;
}


/*  statistic */
div.scoreTalbe {
    position: absolute;
    bottom: 50px;
    color: white;
    left: 10%;
}

div.scoreTalbe p {
    text-shadow: 1px 1px rgb(4, 112, 28);
}

div.lever {
    position: absolute;
    top: 60%;
    right: -35px;
    cursor: pointer;
}

div.lever div.basis {
    width: 45px;
    height: 80px;
    background-color: #00C5B1;
}

div.lever div.rod {
    position: absolute;
    top: -150%;
    left: 15px;
    width: 15px;
    height: 120px;
    background-color: #00C5B1;
}

div.rod.run {
    animation: rodLever 1s ease-in;
}

div.lever div.circle {
    position: absolute;
    border-radius: 50%;
    top: -180%;
    left: -2px;
    width: 50px;
    height: 50px;
    background-color: #4b4b4b;
}

div.circle.run {
    animation: rodCircle 1s ease-out;
}

div.lever div.circle::after {
    content: "Spin";
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 50px;
    color: #00C5B1;
    text-align: center;
    font-family: 'Sansita Swashed', cursive;
    font-size: 14px;
}

@keyframes rodCircle {
    50% {
        top: -120%;
    }

    80% {
        top: -80%;
    }

    100% {
        top: -150%;
    }
}

@keyframes rodLever {

    50% {
        top: -80%;
        height: 80px;
    }

    80% {
        top: -60%;
        height: 60px;
    }

    100% {
        top: -150%;
        height: 120px;
    }
}