* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(230, 230, 230);
    height: 100vh;
    font-family: 'VT323', monospace;
    font-size: 20px;
}

.wrap-game {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.table-game {
    position: relative;
}

div.board {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    width: 495px;
    height: 200px;
}

.table {
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.table div {
    display: flex;
    margin: 0 15px;
    width: 135px;
    height: 200px;
    border: 5px solid rgb(121, 121, 121);
    overflow: hidden;
}

/* .table div.roll-table {
    background-color: crimson;
} */
.result {
    color: black;
}

.table div img {
    object-position: 50% 50%;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
}

/* bid */
.play {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* input */

.play label,
input {
    font-size: 18px;
    margin: 5px 0;
}

.play input {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid grey;
    outline: 0;
    font-size: 1.3rem;
    color: white;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.play input:placeholder {
    color: transparent;
}

.play input:placeholder-shown~.form-label {
    font-size: 1.3rem;
    cursor: text;
    top: 7px;
}

.form-label {
    position: absolute;
    top: -15px;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: grey;
}

.play input:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, , #11998e #38ef7d);
    border-image-slice: 1;
}

.play input:focus~.form-label {
    position: absolute;
    top: -10px;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #11998e;
    font-weight: 700;
}

.play input:required,
.form-label:invalid {
    box-shadow: none;
}

/*  statistic */
div.scoreTalbe {
    position: absolute;
    bottom: 50px;
    color: white;
    left: 10%;
}

div.scoreTalbe p {
    text-shadow: 1px 1px rgb(4, 112, 28);
}

div.lever {
    position: absolute;
    top: 60%;
    right: -35px;
    cursor: pointer;
}

div.lever div.basis {
    width: 45px;
    height: 80px;
    background-color: #00C5B1;
}

div.lever div.rod {
    position: absolute;
    top: -150%;
    left: 15px;
    width: 15px;
    height: 120px;
    background-color: #00C5B1;
}

div.rod.run {
    animation: rodLever 1s ease-in;
}

div.lever div.circle {
    position: absolute;
    border-radius: 50%;
    top: -180%;
    left: -2px;
    width: 50px;
    height: 50px;
    background-color: #4b4b4b;
}

div.circle.run {
    animation: rodCircle 1s ease-out;
}

div.lever div.circle::after {
    content: "Spin";
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 50px;
    color: #00C5B1;
    text-align: center;
    font-family: 'VT323', monospace;
    font-size: 20px;
}

@keyframes rodCircle {
    50% {
        top: -120%;
    }

    80% {
        top: -80%;
    }

    100% {
        top: -150%;
    }
}

@keyframes rodLever {

    50% {
        top: -80%;
        height: 80px;
    }

    80% {
        top: -60%;
        height: 60px;
    }

    100% {
        top: -150%;
        height: 120px;
    }
}

.infoText {
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.infoText p {
    color: white;
    text-shadow: 1px 1px crimson;
    font-size: 20px;
}